{
	# Global options block. Entirely optional, https is on by default
	# Optional email key for lets encrypt
	email {$HOSTEMAIL}
	# # Optional staging lets encrypt for testing. Comment out for production.
	# acme_ca https://acme-staging-v02.api.letsencrypt.org/directory
}

home.nfiles.dev {
	header X-Clacks-Overhead "GNU Terry Pratchett"
	reverse_proxy localhost:8123
}

notes.nfiles.dev {
	header X-Clacks-Overhead "GNU Terry Pratchett"
	reverse_proxy localhost:22300
}

# https://yggdrasil.rat-basilisk.ts.net:3030 {
yggdrasil.rat-basilisk.ts.net {
	header X-Clacks-Overhead "GNU Terry Pratchett"
	reverse_proxy localhost:3001
}

http://pi.hole:80 {
	reverse_proxy http://100.98.216.35:8080
}

https://status.nfiles.dev {
	header X-Clacks-Overhead "GNU Terry Pratchett"
	reverse_proxy http://localhost:4040
}
